<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="spot_arm_gazebo" params="prefix">
    <gazebo reference="${prefix}arm_link_sh0">
      <selfCollide>true</selfCollide>
    </gazebo>
    <gazebo reference="${prefix}arm_link_sh1">
      <selfCollide>true</selfCollide>
    </gazebo>
    <gazebo reference="${prefix}arm_link_el0">
      <selfCollide>true</selfCollide>
    </gazebo>
    <gazebo reference="${prefix}arm_link_el1">
      <selfCollide>true</selfCollide>
    </gazebo>
    <gazebo reference="${prefix}arm_link_wr0">
      <selfCollide>true</selfCollide>
    </gazebo>
    <gazebo reference="${prefix}arm_link_wr1">
      <selfCollide>true</selfCollide>
    </gazebo>
  </xacro:macro>
</robot>
